<ActionBar>
    <StackLayout orientation="horizontal" horizontalAlignment="left">
        <Label text="New Note" textWrap="true" class="rb-16"></Label>
    </StackLayout>
    <ActionItem android.systemIcon="ic_menu_share" android.position="popup" text="Find Printer"></ActionItem>
    <ActionItem android.systemIcon="ic_menu_share" android.position="popup" text="Settings"></ActionItem>
    <ActionItem android.systemIcon="ic_menu_share" android.position="popup" text="About"></ActionItem>
</ActionBar>
<GridLayout width="100%" height="100%">
    <GridLayout height="70%" backgroundColor="#fafafa">
        <WebViewExt [src]="webViewSrc" height="80%" width="95%" marginTop=10>
        </WebViewExt>
    </GridLayout>
</GridLayout>