<ActionBar>
  <StackLayout orientation="horizontal" horizontalAlignment="left">
    <Label text="Notes" textWrap="true" class="rb-16"></Label>
  </StackLayout>
</ActionBar>

<StackLayout width="100%" height="100%">

  <StackLayout height="90%">
    <ListView [items]="items">
      <ng-template let-item="item" let-i="index">
        <GridLayout>
          <Label [text]="item.name"></Label>
        </GridLayout>
      </ng-template>
    </ListView>

  </StackLayout>

  <StackLayout>
    <FAB icon="res://icon" rippleColor="#f1f1f1" class="fab-button" (tap)="routeToEditor()"></FAB>
  </StackLayout>
</StackLayout>